services:
  gateway:
    build: gateway
    image: shareit-gateway
    container_name: shareit-gateway
    ports:
      - "8080:8080"
    depends_on:
      - server
    environment:
      - SHAREIT_SERVER_URL=http://server:9090

  server:
    build: server
    image: shareit-server
    container_name: shareit-server
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit
      - SPRING_DATASOURCE_USERNAME=shareit
      - SPRING_DATASOURCE_PASSWORD=shareit

  db:
  image: postgres:15-alpine
  container_name: share-it
  environment:
    POSTGRES_USER: dbuser
    POSTGRES_PASSWORD: 12345
    POSTGRES_DB: share-it
  ports:
    - "6541:5432"
  healthcheck:
    test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
    timeout: 5s
    interval: 5s
    retries: 10
  volumes:
    - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

